<form {{action "save" on="submit"}}>
  <div>
    <label>
      Email
      {{input type="text" value=model.email}}
    </label>
  </div>
  <div>
    <label>
      Admin
      {{input type="text" value=model.admin}}
    </label>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
